<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante || Name</title>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <!-- Encabezamiento -->
    <header>
        <div class="header-item1">
            <a href="http://localhost:3001">
                <img src="img/Logo-FondoBlackR.png" alt="Logo" id="logo" >
            </a>
            <div class="ubicacion-horario">
                <p><i class="fa-solid fa-location-dot"></i> Bogota D.C</p>
                <span id="horario"> 8AM- 12PM </span>
            </div>
        </div>
        <div class="header-item2">
            <ul class="h-item2-list">
                <li>
                    <a href="http://localhost:3001" class="text-li inicio">Inicio</a>
                </li>
                <li>
                    <a href="http://localhost:3001/productoDetalle" class="text-li">Restaurantes</a>
                </li>
                <li>
                    <a href="#"class="text-li">Repartidor</a>
                </li>
                <li>
                    <a href="#" class="text-li">Acerca de</a>
                </li>
                <li>
                    <a href="http://localhost:3001/Ingresar" class="text-li text-li-ingreso"> Ingreso</a>
                </li>
                <li class="menu-Hamburguesa" id="menu-Hamburguesa">
                    <a href="#modal" class="cta"><i class="fa-solid fa-bars"></i></a> 
                </li>
            </ul>
        </div>
    </header>
    <section id="modal" class="modal">
        <div class="modal-menu">
            <a href="#menu-Hamburguesa" class="cerrar"><i class="fa-solid fa-xmark"></i></a>
            <hr>
            <a href="http://localhost:3001/Ingresar" class="text-li text-li-ingreso"> Ingresar</a>
            <div class="secciones">
                <a href="http://localhost:3001/productoDetalle"><i class="fa-solid fa-shop"></i> Registra tu restaurante</a>
                <a href="#"><i class="fa-solid fa-cart-flatbed-suitcase"></i> Registra tu comercio</a>
                <a href="#"><i class="fa-solid fa-motorcycle"></i> Quiero ser un repartidor</a>
                <a href="#"><i class="fa-solid fa-circle-info"></i> Acerca de Rollereats</a>
            </div>
        </div>
    </section>
    <!-- Seccion de portada -->
    <div class="imagen-Perfil">
        <img src="/img/Logotipo_Restaurante.png" alt="Imagen del logo" id="Logotipo">
    </div>
    <!-- Seccion de la descripcion -->
    <div class="descripcion">
        <div class="descripcion-center">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        </div>
        <div class="descripcion-item1">
            <div class="descripcion-left">
                <h3>Esquina 22<br> Restaurante</h3>
                <p>Lorem ipsum dolor adipisicing elit cumque quae officia</p>
            </div>
            <div class="descripcion-rigth">
            <h4><span>Abierto</span> <br>Cierra a las 22:00 Hrs</h4>
            </div>
        </div>
    </div>
    <!-- Seccion de barra de comidas y carrito -->
    <div class="barra-comidaAndcarrito"> 
        <div class="item-comidas">
                <a href="#"><h4>Hamburguesas</h4></a>
                <a href="#"><h4>Especiales</h4></a>
                <a href="#"><h4>Pizzas</h4></a>
                <a href="#"><h4>Tacos</h4></a>
                <a href="#"><h4>Bebidas</h4></a>
        </div>
        <div class="item-carrito">
            <a href="http://localhost:3001/Carrito"><h4><i class="fa-solid fa-cart-arrow-down"></i> $ 00,00</h4></a>
        </div>
    </div>
    <!-- Seccion articulos -->
    <div class="articulos">
        <article class="articulo-unico">
            <div class="imagen-articulo">
                <img src="/img/Hamburguesa_1.png" alt="imagen del articulo">
            </div>
            <div class="descripcion-articulo">
                <div class="nombre-precio">
                    <h4>Hamburguesa de Pollo</h4>
                    <h4><span>$ 8.700</span></h4>
                </div>
                <div class="agregar-carrito">
                    <i class="fa-solid fa-circle-plus"></i> 
                </div>
            </div>
        </article>
        <article class="articulo-unico">
            <div class="imagen-articulo">
                <img src="img/Hamburguesa_2.png" alt="imagen del articulo">
            </div>
            <div class="descripcion-articulo">
                <div class="nombre-precio">
                    <h4>Hamburguesa Ranchera</h4>
                    <h4><span>$ 16.700</span></h4>
                </div>
                <div class="agregar-carrito">
                    <i class="fa-solid fa-circle-plus"></i> 
                </div>
            </div>
        </article>
        <article class="articulo-unico">
            <div class="imagen-articulo">
                <img src="/img/Hamburguesa_3.png" alt="imagen del articulo">
            </div>
            <div class="descripcion-articulo">
                <div class="nombre-precio">
                    <h4>Hamburguesa de Queso</h4>
                    <h4><span>$ 14.600</span></h4>
                </div>
                <div class="agregar-carrito">
                    <i class="fa-solid fa-circle-plus"></i> 
                </div>
            </div>
        </article>
        <article class="articulo-unico">
            <div class="imagen-articulo">
                <img src="/img/Hamburguesa_1.png" alt="imagen del articulo">
            </div>
            <div class="descripcion-articulo">
                <div class="nombre-precio">
                    <h4>Hamburguesa Especial</h4>
                    <h4><span>$ 18.700</span></h4>
                </div>
                <div class="agregar-carrito">
                    <i class="fa-solid fa-circle-plus"></i> 
                </div>
            </div>
        </article>
        <article class="articulo-unico">
            <div class="imagen-articulo">
                <img src="/img/Hamburguesa_2.png" alt="imagen del articulo">
            </div>
            <div class="descripcion-articulo">
                <div class="nombre-precio">
                    <h4>Hamburguesa Mexicana</h4>
                    <h4><span>$ 14.900</span></h4>
                </div>
                <div class="agregar-carrito">
                    <i class="fa-solid fa-circle-plus"></i> 
                </div>
            </div>
        </article>
        <article class="articulo-unico">
            <div  class="imagen-articulo">
                <img src="/img/Hamburguesa_3.png" alt="imagen del articulo">
                
            </div>
            <div class="descripcion-articulo">
                <div class="nombre-precio">
                    <h4>Hamburguesa al carbon</h4>
                    <h4><span>$ 18.700</span></h4>
                </div>
                <div class="agregar-carrito">
                    <i class="fa-solid fa-circle-plus"></i> 
                </div>
            </div>
        </article>
    </div>
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
</body>
</html> 