<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Rollereats || Login</title>
</head>
<%- include('../partials/header.ejs') %>
<body>
    <div class="contenedor-principal">
        <form action="" method="POST" class="formulario">
            <input class="form" placeholder="Imagen" type="file">
            <input class="form" placeholder="Nombre" type="text">
            <input class="form" placeholder="Precio" type="number">
            <textarea class="form" name="" id="" placeholder="Descripcion" cols="30" rows="3"></textarea>
            <select class="form" name="" id="">
                <option value="">Categoria</option>
                <option value="">Hamburgesa</option>
                <option value="">Especial</option>
                <option value="">Pizza</option>
                <option value="">Tacos</option>
                <option value="">Bebidas</option>
            </select>
            <button class="button">Crear</button>
        </form>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>