<header>
    <div class="header-item1">
        <a href="http://localhost:3001">
            <img src="img/Logo-FondoBlackR.png" alt="Logo" id="logo" >
        </a>
        <div class="ubicacion-horario">
            <p><i class="fa-solid fa-location-dot"></i> Bogota D.C</p>
            <span id="horario"> 8AM- 12PM </span>
        </div>
    </div>
    <div class="header-item2">
        <ul class="h-item2-list">
            <li>
                <a href="/" class="text-li inicio">Inicio</a>
            </li>
            <li>
                <a href="/restaurante" class="text-li">Restaurantes</a>
            </li>
            <li>
                <a href="/repartidor"class="text-li">Repartidor</a>
            </li>
            <li>
                <a href="/about" class="text-li">Acerca de</a>
            </li>
            <li>
                <a href="/login" class="text-li text-li-ingreso"> Ingreso</a>
            </li>
            <li class="menu-Hamburguesa" id="menu-Hamburguesa">
                <a href="#modal" class="cta"><i class="fa-solid fa-bars"></i></a> 
            </li>
        </ul>
    </div>
</header>

<section id="modal" class="modal">
    <div class="modal-menu">
        <a href="#menu-Hamburguesa" class="cerrar"><i class="fa-solid fa-xmark"></i></a>
        <hr>
        <a href="/login" class="text-li text-li-ingreso"> Ingresar</a>
        <div class="secciones">
            <a href="/register_Restaurante"><i class="fa-solid fa-shop"></i> Registra tu restaurante</a>
            <a href="/register_Comercio"><i class="fa-solid fa-cart-flatbed-suitcase"></i> Registra tu comercio</a>
            <a href="/register_Repartidor"><i class="fa-solid fa-motorcycle"></i> Quiero ser un repartidor</a>
            <a href="/login_Repartidor"><i class="fa-solid fa-circle-info"></i> Acerca de Rollereats</a>
        </div>
    </div>
</section>