<!-- footer profile  -->
<section class="profile-footer">
    <div class="profile-support">
        <h3><i class='bx bx-support'></i>Support</h3>
        <p>You’ve got questions, we’ve got answers. Check out our troubleshooting guides if you’re stuck.</p>
        <a href="#help">Help and Troubleshooting Guides</a>
    </div>
    <form action="/usuarios/delete/<%=usuarioBuscado.idUser%>?_method=DELETE" method="POST" class="danger-zone">
        <h3><i class='bx bxs-radiation' ></i>Danger Zone</h3>
        <input type="submit" class="profile-delete" value="Delete Buffe Account"><!--TODO:-->
    </form>
</section>
<!-- end footer profile  -->