<!-- current-plan -->
<article class="current-plan">
    <div class="header-plan">
        <p class="name-plan">current-plan</p>
        <i class='bx bxs-user-circle'></i>
        <h3>Free</h3>
        <h3>$0</h3>
        <p class="plan-time">Forever</p> 
    </div>
    <ul class="characteristics">
        <li><i class='bx bxs-offer'></i>promotions</li>
        <li><i class='bx bx-current-location'></i>localization</li>
        <li><i class='bx bxs-cart-alt'></i>Shopping cart</li>
        <li><i class='bx bxs-barcode'></i>Online payment</li>
    </ul>
    <ul class="characteristics-two">
        <li><i class='bx bx-check'></i>Real-time support</li>
        <li><i class='bx bx-check'></i>Product history</li>
        <li><i class='bx bx-check'></i>leave your comments</li>
    </ul>
</article>
<!-- End current-plan -->