* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: relative;
}

.contenedor-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 50vw;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 400px;
}
.form {
  border: none;
  border-radius: 34px;
  line-height: 2rem;
  padding-left: 20px;
  margin-bottom: 12px;
  outline: none;
  background: white;
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.6),
    inset -0px -0px 0px 0 rgba(255, 255, 255, 0.5);
}
h3 {
  margin-bottom: 0.8rem;
  font-size: calc(1rem + 0.3vw);
}
p {
  font-size: calc(0.8rem + 0.19vw);
  margin: 0.5rem 0;
}
::placeholder {
  font-size: calc(0.8rem + 0.19vw);
}
[type="submit"] {
  background-color: #46455a;
  width: 50%;
  border-radius: 36px;
  line-height: 2.5rem;
  border: none;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  align-self: center;
  color: white;
  margin: 1rem 0;
}
.rec-ayuda {
  font-size: calc(0.8rem + 0.19vw);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#olvido {
  font-size: calc(0.8rem + 0.19vw);
  align-self: center;
  margin-bottom: 0.8rem;
}
.Resgistrate {
  display: flex;
  align-items: center;
}
#reg {
  margin-left: 0.4rem;
  font-size: calc(0.8rem + 0.19vw);
}
@media (min-width: 767px) {
  .contenedor-login {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .formulario {
    width: 400px;
    max-width: 700px;
  }
}
