*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
/* Responsive web Design */
/*320-767*/
/*768-1023/
/*1024 +*/

/* celular 375x537 */
body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    width: 100%;
    z-index: 1;
}
    /* Clase usada para el scroll del header */
    .abajo {
        background: #222; /*Css para el scroll */
    }
    /* Elementos del Header */
    .header-item1{
        display: flex;
        align-items: center;
    }
        #logo{
            padding: 5px 5px 5px 0;
            width: 40vw;
            max-width: 100px;
        }
        .header-item1 p{
            color: white;
        }
        .ubicacion-horario{
            font-size: calc(0.8rem + 0.19vw);
        }
            #horario{
                color: #ff702a;
            }
    .header-item2{

    }
        .h-item2-list{
            display: flex;
            list-style: none;
            align-items: center;
            background-color: #ff702a;
            padding: 1.8vmax 2.5vmax;
            border-radius: 7px;
        }
            .h-item2-list .text-li{
                display: none; 
                margin: 0 6px;
                text-decoration: none;
                color: black;
                font-size: calc(0.8rem + 0.19vw);
            }
                .h-item2-list .text-li:hover{
                    color: white;
                }
                .h-item2-list .inicio{
                    border-bottom: white 2px solid;
                }
            .h-item2-list .text-li-ingreso{
                background-color: black;
                color: white;
                padding: 12px 50px;
                border-radius: 36px;
            }
                .h-item2-list .text-li-ingreso:hover{
                    color: #ff702a;
                }
            .menu-Hamburguesa{
                background-color:#ff702a ;
                border-radius: 5px; 
                font-size: calc(0.8rem + 0.19vw);
            }
            .menu-Hamburguesa i{
                color: black;
            }
            /* menu desplegable menu-hamburguesa */
            .modal{
                display: flex;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.411);
                justify-content:right;

                --opacity: 0;
                --pointer: none;

                opacity: var(--opacity);
                pointer-events:var(--pointer);
                transition: opacity .4s;
            }
                .modal:target{
                    --opacity: 1;
                    --pointer: unset;
                }
            .modal-menu{

                display:flex;
                flex-direction: column;
                padding: 2.3vh 4.2vmax;
                width: 100vw;
                height: 100vh;
                max-width: 24rem;
                background-color: white;
                
            }
                .modal:target .modal-menu{
                    animation: show  1s .5s backwards;
                }
                @keyframes show {
                    0%{
                        transform: translateX(150vw);
                    }
                    100%{
                        transform: translateX(0);
                    }
                }
                .modal-menu .cerrar{
                    align-self: flex-end;
                    font-size: calc(1rem + 0.19vw);
                    margin: 0 0 1rem 0;
                    
                }
                .modal-menu .cerrar i{
                    color:black;
                }
                hr{
                    height: 1px;
                    color: black;
                }
                .modal-menu .text-li{ 
                    margin: 3rem 6px;
                    text-decoration: none;
                    color: black;
                    font-size: calc(0.9rem + 0.19vw);
                    background-color: #ff702a;
                    padding: 3vh 7vmax;
                    align-self: center;
                    border-radius: 1rem;
                    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
                    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
                }
                .secciones{
                    display: flex;
                    flex-direction: column;
                }
                    .secciones a{
                        text-decoration: none;
                        padding: 1vh 2rem;
                        color: #222;
                        margin: 0.5rem 0.4rem;
                        font-size: calc(0.9rem + 0.19vw);
                    }
                        .secciones a i{
                            margin-right: 1.2rem;
                        }
                        .secciones a:hover{
                            background-color: #ff702a;
                            color: white;
                        }

    /* Sección portada */
    
    .imagen-Perfil{
        background-image: url(/img/Img_Perfil.png);
        background-repeat: no-repeat;
        height: 60vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
        .imagen-Perfil #Logotipo{
            margin-bottom: -5.5rem;
            width: 11rem;
        }

    /*Sección Descripcion*/

    .descripcion{
    
    }
        .descripcion-center{
            text-align: center;
            font-size: 1.4rem;
            margin-top: 5rem;
            font-size: calc(1.1rem + 0.3vw);
        }
        .descripcion-item1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem 4vw;     
        }
            .descripcion-left p{
                max-width: 230px;
                font-size: calc(0.8rem + 0.19vw);
            }
            .descripcion-left h3{
                font-size: calc(1rem + 0.3vw);
            }
            .descripcion-rigth{
                text-align: center;
            }
                .descripcion-rigth h4 {
                    font-size: calc(0.8rem + 0.19vw); 
                }
                .descripcion-rigth h4 span{
                    color: #ff702a;
                }

    /* Seccion de barra de comidas y carrito  */

    .barra-comidaAndcarrito{
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
        .item-comidas{
            display: flex;
            overflow:auto;
            white-space: nowrap;
            width: 91%;
            line-height: 3em;
            background-color: #ff702a;

        }   
            .item-comidas a{
                text-decoration: none;
            }
            .item-comidas a h4{
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: 500;
                font-size: calc(0.8rem + 0.19vw);
                padding: 0 2rem;
            }
            .item-comidas a h4:hover{
                color: white;
            }

        .item-carrito{
            display: flex;
            justify-content: center;
            color: white; 
            background-color: black;
            padding:  0 2rem;
            line-height: 3em;
            text-align: center;
        }
            .item-carrito h4{
                width: max-content; 
                font-weight: 500;
                font-size: calc(0.8rem + 0.19vw);

            }

    /* Seccion Articulos */

    .articulos{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;

    }
        .articulo-unico
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            margin: 0.5rem;
            border-radius: 10px;
        }
            .imagen-articulo{
                text-align: center; 
                padding: 1rem 0;
            }
            .imagen-articulo img{
                width: 50vw;
                max-width: 12.5rem;
            } 
            .descripcion-articulo{
                display: flex;
                align-items: center;
                background: #ffffff;
                -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
                box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            }
                .nombre-precio{
                    text-align: left;
                    margin: 1rem;
                }
                .nombre-precio span{
                    color: #ff702a;
                }
                .agregar-carrito{
                    color: #ff702a;
                    font-size: calc(1.5rem + 0.3vw);
                    margin: 1rem;
                }


/* @Media Query para pantallas de 767px - 1023px */

@media(min-width:767px){
    .h-item2-list .text-li{
        display: block;
    }
    .menu-Hamburguesa{
        display: none;
    }
    .h-item2-list{
        border-radius: 34px;
    }
    .h-item2-list{
        padding: 5px 0px 5px 20px;
        border-radius: 34px;
    }
    .descripcion{
        display: flex;
        flex-direction: column;
    }
    .descripcion-item1{
        order: -1;
        margin: 0.5rem 4rem;
    }
    .descripcion-center{
        margin-top: 0.4rem;
    }
    .imagen-Perfil #Logotipo{
        margin-bottom: -8.3rem;
        width: 16.6rem;
    }
}

/* width: 15.4rem; para el logotippo  */