<!-- Aside -->
<aside class="aside-container" id="aside-container">
    <div class="aside-open">
        <ul>
            <li>
                <i class='bx bxs-home'></i>
                <a href="/">Major</a>
            </li>
            <li>
                <i class='bx bxs-bowl-hot'></i>
                <a href="/restaurants">Restaurants</a>
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <i class='bx bxs-time'></i>
                <a href="#history">History</a>
            </li>
            <li>
                <i class='bx bxs-heart-circle'></i>
                <a href="#favorite">Favorite</a>
            </li>
        </ul>
        <hr>
        <ul class="navbar-login">
            <p>Sign in to place orders</p>
            <li>
                <i class='bx bxs-user'></i>
                <a href="./login">To access</a>
            </li>
        </ul>
        <hr>
        <ul>
            <h4>More services</h4>
            <li>
                <i class='bx bxs-store-alt' ></i>
                <a href="#register">Register your restaurant</a> 
            </li>
            <li>
                <i class='bx bxs-store'></i>
                <a href="#register">Register your store</a>
                </li>
            <li>
                <i class='bx bxs-package'></i>
                <a href="#register">Be a deliveryman</a> 
            </li>
        </ul>
        <hr>
        <ul>
            <li>
                <i class='bx bxs-info-circle' ></i>
                <a href="#about">About</a>
            </li>
            <li>
                <i class='bx bxs-message-dots'></i>
                <a href="#comments">Post comments</a>
            </li> 
        </ul>
        <hr class="division">
    </div>
    <%- include('./footer.ejs') %>
</aside>
<!-- End Aside -->