    <script src="js/validationRegister.js"></script>
    <script src="js/validationLogin.js"></script>  
    <script src="javascripts/main.js"></script>
    <script src="https://kit.fontawesome.com/6b289d76ca.js" crossorigin="anonymous"></script>
</body>
</html> 