<!-- Footer  -->
<footer class="aside-footer">
    <a href="#About">About</a>
    <a href="#Contact">Contact with us</a>
    <a href="#Creators">Creators</a>
    <a href="#Developers" class="developers">Developers</a>
    <a href="#conditions">Terms and conditions</a>
    <a href="#Policy">Policy and privacy</a>
    <a href="#works">How buffe works</a>
    <p>&copy; 2022 Buffé</p>
</footer>
<!-- end Footer  -->