<footer>
    <div class="footer">
      <footer>
          <div class="container-1">
              
              <div class="foot-description">
                  <img src="/img/Logo-FondoWhite.png" class="logo-foot" alt="logo-footer">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
                      elit. Necessitatibus doloribus reiciendis provident 
                      debitis doloremque nulla?</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
  
                  <div class="red-social">
                      <a href="#" class="fa fa-facebook"></a>
                      <a href="#" class="fa fa-instagram"></a>
                      <a href="#" class="fa fa-twitter"></a>
                  </div>
              </div>
              
              
              <div class="foot-contact">
                  <h3 class="titulo-contactenos">Contáctenos</h3>
                      <div class= "alineacion-contactos"><i class="fa-solid fa-location-dot"></i>
                          <p>Ubicacion de establecimiento <br> actual, dirección</p>
                      </div>
                      <div class= "alineacion-contactos"><i class="fa-solid fa-tty"></i>
                          <p>+000 000 00 0 <br> +57 000 000 00 00</p>
                      </div>
                      <div class= "alineacion-contactos"><i class="fa-solid fa-envelope-open-text"></i>
                          <p>correo@gmail.com <br> otrocorreo@gmail.com</p></div>
                      </div>
  
  
              <div class="foot-contrib">
                  <nav>
                      <h3>Contribuidores</h3>
  
                      <ul>
                          <li><a href="#">Primer Contribuidor</a></li>
                          <li><a href="#">Segundo Contribuidor</a></li>
                          <li><a href="#">Tercer Contribuidor</a></li>
                          <li><a href="#">Cuarto Contribuidor</a></li>
                          <li><a href="#">Quinto Contribuidor</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
  
          <div class="container-2">
              <div class="text">
              <p>&copy; Copyright 2022. Todos los derechos reservados.</p>
  
              <p>Términos y condiciones| Política de privacidad</p>
              </div>
          </div>
      </footer>
      </div>
  </footer>