<!-- Navbar -->
<nav class="navbar">
    <div class="nav-left">
        <span id="open-close"><i class='bx bx-menu'></i></span>
        <a href="/"><img src="/img/Logo.png" /></a>
    </div>
    <div class="nav-right">
        <a href="#cart "><i class='bx bxs-cart-alt '></i></a>
        <a href="/usuarios/login"><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Avatar"></a>
    </div>
</nav>
<!-- End Navbar -->