<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Rollereats || Login</title>
</head>

<body>
    <%- include('../partials/header.ejs')%>
    <div class="contenedor">
        <p>
        Buscar menús para pedir comida a domicilio se convirtió en cosa del pasado.
        iFood ha desarrollado un sistema innovador para que hagas tus pedidos en tu móvil sin complicaciones. Ten acceso a muchísimos restaurantes y haz tu pedido fácil y seguro. Y lo mejor: ¡no pagas nada más por eso!
        
        Pedir comida por teléfono es una cosa del pasado. Con iFood no es necesario depender de imanes en la nevera ni un montón de papel para encontrar qué pedir, se puede prescindir del teléfono y puedes olvidarte de las interminables colas para recibir tu comida. iFood llegó a hacer todo mucho más simple.
        Tu plato favorito ahora está a un clic de distancia en la aplicación y el sitio que te conecta con los mejores restaurantes cerca de tí. Con iFood puedes ver el menú y los precios de cada restaurante antes de decidir qué comer. Pide tu comida súper rápido y el restaurante perparará tu plato y lo entregará en cualquier lugar. Es práctico y seguro. Pruébalo!
        </p> 
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
    <!-- Footer -->

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: poppins;
    }
    .contenedor{
        margin-top: 100px;
        display: flex;
    }
</style>
</html>