<!-- seccion profile busines -->
<section class="profile-business">
    <img src="https://th.bing.com/th/id/R.e894cb17096dbeee04b521a4443491b9?rik=EDcL60gxXzsFiw&pid=ImgRaw&r=0" alt="" class="business-img">
    <h1></h1>
    <i class='bx bxs-heart business-favorite' ></i>
    <div class="business-config">
        <i class='bx bx-dots-vertical-rounded icon-config' id="open-configuration"></i>
        <ul class="config-list" id="business-configuration">
            <li class="config-item">
                <i class='bx bx-edit-alt'></i>
                <button class="link-editBusiness" data-open="modal-editBusiness">Edit business</button>
            </li>
            <form class="delete-item">
                <label for="business-delete">
                    <i class='bx bx-trash-alt'></i>
                    <input type="submit" id="business-delete">
                    <span class="link-deleteBusiness">Delete business</span>
                </label>
            </form>
        </ul>
    </div>
    <p class="business-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas aut temporibus velit harum at.</p>
    <div class="business-data">
        <div class="delivery-Fee">
            <p class="Fee">$0.00</p> 
            <p>delivery Fee</p> 
        </div>
        <span>00 - 00 min</span>
    </div>
    <p class="rating">0.0 <span> Rating</span></p>
</section>
<!-- End seccion profile busines -->