<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Carrito</title>
</head>
<body>
    <div class="cont-0">
        <header>
            <h4>Tu canasta</h4>
            <input type="submit" value=" x ">
        </header>
        <hr>
        <div class="display-flex">
            <div class="display-flex cont-1" style="color: #494442;">
                <label class="item1-1" for="#">2</label>
                <div class="item1-2" >
                    <p>Hamburguesa de Ensalada</p>
                    <label for="text-area">Agregar nota</label>
                </div>
            </div>
            <div class="display-flex cont-3">
                <div style="text-align: center;": center;" class="cont3-1">
                    <p style="color: #494442;">$27.500</p>
                    <div  class="cont3-1-2">
                        <input class="negativo" type="submit" value=" - ">
                        <input class="positivo" type= "submit" value=" + "> 
                    </div>
                </div>
                <div>
                    <input type="submit" value=" x ">
                </div>
            </div>
        </div>
        <div class="area-texto" style="color: #494442;">
            <textarea name="" id="text-area" cols="53" rows="5"></textarea>
            <p>160/160</p>
            <div>
                <label for="text-area">Cancelar</label>
                <label for="text-area">Agregar</label>
            </div>
        </div>
        <hr>
        <div class="cuenta" style="color: #494442;">
            <div class="subtotal dflex">
                <p>Subtotal</p>
                <p>$147.000</p>
            </div>
            <div class="gEnvio dflex">
                <p>Gastos de envió</p>
                <p>$4500</p>
            </div>
            <div class="total dflex">
                <p>Total</p>
                <p>$151.500</p>
            </div>
        </div>
        <div class="con-pagar">
            <a href="http://localhost:3001/productoDetalle"><input class="pagar" type="submit" value="Realizar pedido ($151.500)"></a>
        </div>
    </div>
</body>
</html>