<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
    <title>Inicio || Rollereats</title>
</head>
<body>
    <!-- Encabezamiento -->
    <%- include('./partials/header.ejs') %>
    
    <!-- Secci칩n inical - busqueda de restaurantes -->
    <div class="Seccion-inicial"> 
        <div class="texto-inicial">
            <h1>Pide <strong>Comida</strong> <br>y <strong id="palabra-vamonos">V치monos</strong>.</h1>
            <p>Encuentra restaurantes cerca de ti</p>
        </div>
        <form class="formulario-busqueda"> 
            <div class="barra-busqueda">
                <input type="search" placeholder= "Ingresa tu ubicaci칩n" id="buscar">
                <input type="submit" value="Buscar" id="boton-buscar">
            </div>
            <a href="#"  id="icono-ubicacion_actual"><i class="fa-solid fa-location-crosshairs"></i> Usar ubicaci칩n actual</a>
        </form>
    </div>
    <div class="seccion-Especial">
        <div class ="seccion-Especial-2">
            <div class = "informacion">
                <div class ="informacion-2">
                    <h2>Sorpresa Especial <br> <strong class ="palabra-naranja">dia de hoy</strong> </h2>
                </div>
                <div class ="informacion-3">
                    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odio repudiandae inventore dolor nam. Libero sed
                        asperiores quibusdam illo, at iste aperiam explicabo ut,
                        doloribus porro numquam!
                        </h6>
                </div>
                <div class ="informacion-4">
                    <div>
                        <h6><strong class="palabra-naranja"> 28.300 </strong> </h6>
                    </div>
                    <div class="informacion-5">
                        <h6> - 01 + </h6>
                    </div>
                    <div class ="informacion-6">
                        <button class="button" value="">Ordenar <br> Ahora</button>
                    </div>
                </div>
            </div>
            <div class ="img_0">
                <img class = "img_1" src="/img/Hamburguesa.png" alt ="imagen_1">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <!-- Documentacion .js -->
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>