<%- include('./partials/mainTag.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/aside.ejs') %>
    <div class="session-index">
        <div class="index-header">
            <h1> Best food order online</h1>
            <a href="/restaurants" class="order-index">Order now</a> 
        </div>
        <img src="https://i.postimg.cc/DzQt8S3p/post-restaurants.png" alt="index">
    </div>

<%- include('./partials/endTag.ejs') %>