<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Rollereats</title>    
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="bar-navegacion">
        <a href="http://localhost:3001">
          <img src="img/Logo-FondoBlackR.png" alt="Logo" id="logo" >
        </a>
        <div>
          <p><i class="fa-solid fa-location-dot"></i> Bogota D.C</p>
          <span> 00:00 pm</span>
        </div>
      </div>
      <div class="" style="display: flex; align-items:center; align-content: center;">
        <ul class="lista">
          <li>
            <a href="http://localhost:3001" class="text-li inicio"> Inicio</a>
          </li>
          <li>
            <a href="#" class="text-li"> Restaurantes</a>
          </li>
          <li>
            <a href="#"class="text-li"> Repartidor</a>
          </li>
          <li>
            <a href="#" class="text-li"> Acerca de</a>
          </li>
          <li>
            <a href="http://localhost:3001/Ingresar" class="textW-li"> Ingreso</a>
          </li>
        </ul>
      </div>
    </header>

    <!-- Primera seccion del body - Header & buscador-->

    <div class="primera-seccion">
      <div class="barra-busqueda">
        <h1>Pide <strong>Comida</strong> <br>y <strong class="vamonos">Vámonos</strong>.</h1>
        <p>Encuentra restaurantes cerca de ti</p>
        <form class="cont-form">
          <input type="search" placeholder= " Ingresa aquí tu ubicación " id="buscar">
          <input type="submit" value="Buscar" id="boton-buscar">
        </form>
      </div>
      <a href="#"  id="ubi-actual"><i class="fa-solid fa-location-crosshairs"></i> Usar ubicación actual</a>
      <img src="/img/Grupo 33.png" alt="Burbuja" id="burbuja">
    </div>

    <!-- Segunda seccion del body - Oferta especial-->

    <section class = "container_0">
      <div class = "container_1">
        <div class = "logo_1">
          <i class="fas fa-gift"></i>
        </div>
        <div class = "texto">
          <span class="span_1"><strong>Sorpresa Especial</strong></span>
          <span class="span_2"><strong>del dia de hoy</strong></span>
          <p>Lorem ipsum dolor sit amet consectuter Lorem ipsum dolor sit amet consectuter</p>
        </div>
        <div class ="container_2">
          <h3 class ="c2h1">20.700</h3>
          <div class = c2c2>
          <h3 class ="c2h2">01</h3>
          </div>
          <div class =c2c3>
            <div class ="c2h3"> 
              <h2 class ="c2h3_1">Ordenar</h2>
              <h2 class ="c2h3_2">ahora</h2>
            </div>
          </div>
        </div>
      </div>
      <div class = "img_1">
        <img src="/img/Hamburguesa.png" alt ="imagen_1">
      </div>
    </section>
    <section class = "container_00">
      <div class = c_01>
        <div class ="logos"> 
          <i class="fa-solid fa-basket-shopping"></i>
        </div>
        <div class ="texto">
          <span class="span_01">Elegir comida</span>
          <span class="span_02">Lorem ipsum solor Lorem ipsum dolor sit amet consectuter</span>
        </div>
      </div>
      <div class = c_01> 
        <div class ="logos">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class ="texto">
          <span class="span_01">Elegir comida</span>
          <span class="span_02">Lorem ipsum solor Lorem ipsum dolor sit amet consectuter</span>
        </div>
      </div>
      <div class = c_01> 
        <div class ="logos">
          <i class="fa-solid fa-burger"></i>
        </div>
        <div class ="texto">
          <span class="span_01">Elegir comida</span>
          <span class="span_02">Lorem ipsum solor Lorem ipsum dolor sit amet consectuter</span>
        </div>
      </div>
    </section>

    <section class = "container_01">
        <div class="T1"> 
          Principales Servicios de
        </div>
        <div class="T2">
          Rollereats
        </div>   
        <div class="T3">
          <h3>Rollereats busca ser un mercado mundial y lider en entrega de <br>
            alimentos a domicilio , conectando al cliente con sus restaurantes <br>
            locales de preferencia</h3>
        </div>
    </section>
   
    <section class = "container_02">
    <div> 
      <img class = "Banner1" src='img/comidas.png' alt='imagen_3'>
    </div>
    <div>
      <img class = "Banner1" src='img/repartidores.png' alt='imagen_3'>
    </div>   
    <div>
      <img class = "Banner1" src='img/restaurantes.png' alt='imagen_3'>
    </div>
     </section>
    <section>
      <div class="img_2">
        <img class = "Banner" src='img/Banner.png' alt='imagen_2'>
      </div>
    </section>
    <section class = "container_01">
      <div class="T1 "> 
        Nuestro equipo
      </div>
      <div class="T2">
        de trabajo
      </div>   
    </section>
    <section class = "container_03">
      <div> 
        <img calss = "Banner" src='img/seg-Banner.png' alt='imagen_2'>
      </div>   
    </section>
    <footer>
      <div class="footer">
        <footer>
            <div class="container-1">
                
                <div class="foot-description">
                    <img src="/img/Logo-FondoWhite.png" class="logo-foot" alt="logo-footer">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
                        elit. Necessitatibus doloribus reiciendis provident 
                        debitis doloremque nulla?</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing</p>
    
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
                
                
                <div class="foot-contact">
                    <h3 class="titulo-contactenos">Contáctenos</h3>
                        <div class= "alineacion-contactos"><i class="fa-solid fa-location-dot"></i>
                            <p>Ubicacion de establecimiento <br> actual, dirección</p>
                        </div>
                        <div class= "alineacion-contactos"><i class="fa-solid fa-tty"></i>
                            <p>+000 000 00 0 <br> +57 000 000 00 00</p>
                        </div>
                        <div class= "alineacion-contactos"><i class="fa-solid fa-envelope-open-text"></i>
                            <p>correo@gmail.com <br> otrocorreo@gmail.com</p></div>
                        </div>
    
    
                <div class="foot-contrib">
                    <nav>
                        <h3>Contribuidores</h3>
    
                        <ul>
                            <li><a href="#">Primer Contribuidor</a></li>
                            <li><a href="#">Segundo Contribuidor</a></li>
                            <li><a href="#">Tercer Contribuidor</a></li>
                            <li><a href="#">Cuarto Contribuidor</a></li>
                            <li><a href="#">Quinto Contribuidor</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
    
            <div class="container-2">
                <div class="text">
                <p>&copy; Copyright 2022. Todos los derechos reservados.</p>
    
                <p>Términos y condiciones| Política de privacidad</p>
                </div>
            </div>
        </footer>
        </div>
    </footer>

    <!-- Documentacion .js -->
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script> 
  </body>
</html>
