<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
    <title>Inicio || Rollereats</title>
</head>
<body>
    <!-- Encabezamiento -->
    <header>
        <div class="header-item1">
            <a href="http://localhost:3001">
                <img src="img/Logo-FondoBlackR.png" alt="Logo" id="logo" >
            </a>
            <div class="ubicacion-horario">
                <p><i class="fa-solid fa-location-dot"></i> Bogota D.C</p>
                <span id="horario"> 8AM- 12PM </span>
            </div>
        </div>
        <div class="header-item2">
            <ul class="h-item2-list">
                <li>
                    <a href="http://localhost:3001" class="text-li inicio">Inicio</a>
                </li>
                <li>
                    <a href="#" class="text-li">Restaurantes</a>
                </li>
                <li>
                    <a href="#"class="text-li">Repartidor</a>
                </li>
                <li>
                    <a href="#" class="text-li">Acerca de</a>
                </li>
                <li>
                    <a href="http://localhost:3001/Ingresar" class="text-li text-li-ingreso"> Ingreso</a>
                </li>
                <li class="menu-Hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </li>
            </ul>
        </div>
    </header>
    <!-- Sección inical - busqueda de restaurantes -->
    <div class="Seccion-inicial">
        <div class="texto-inicial">
            <h1>Pide <strong>Comida</strong> <br>y <strong id="palabra-vamonos">Vámonos</strong>.</h1>
            <p>Encuentra restaurantes cerca de ti</p>
        </div>
        <form class="formulario-busqueda"> 
            <div class="barra-busqueda">
                <input type="search" placeholder= "Ingresa tu ubicación" id="buscar">
                <input type="submit" value="Buscar" id="boton-buscar">
            </div>
            <a href="#"  id="icono-ubicacion_actual"><i class="fa-solid fa-location-crosshairs"></i> Usar ubicación actual</a>
        </form>
    </div>
    <div class="seccion-Especial">

    </div>
</body>
</html>