<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Rollereats</title>


    <link rel="stylesheet" href="./css/Bootstrap.css"> 
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img id="img-logo" src="./img/Logo-FondoBlack.png" alt="logo">
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Restaurantes</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Repartidor</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Acerca de</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-dark me-2 px-4 btn-login">Ingreso</button>
        </div>
      </header>

      <div class="seccion-inicial">
        <div class="burbujas">
          <img src="/img/Burbujas.png" alt="Burbujas">
        </div>
        <div class="container">
          <div class="row align-item-center">
            <div primera_seccion_contenedor>
              <h1>Pide <strong>Comida <br></strong>Y<strong> <u>Vámonos</u></strong>.</h1>
              <p>Encuentra restaurantes cerca de ti</p>
              <input type="text" class="icono-placeholder" placeholder="  Ingresa aquí tu ubicación">
            </div>
          </div>
        </div>
      </div>

      <section class = "container_0 text-center align-items-center">
        <div class = "container_1 text-center">
          <div class = "logo_1">
            <i class="fas fa-gift"></i>
          </div>
          <div class = "texto">
            <h2><strong>Sorpresa Especial</strong></h2>
            <span><strong>del dia de hoy</strong></span>
            <p>Lorem ipsum dolor sit amet consectuter asdfre ftgrg sdgdsgds grrgsrg grgsrg fsrgfre</p>
          </div>
          <div class ="container_2">
            <h3 class ="c2h1">20.700</h3>
            <div class = c2c2>
              <h3 class ="c2h2">01</h3>
            </div>
            <div class =c2c3>
              <div class ="c2h3"> 
                <h3 class ="c2h3_1">Ordenar</h3>
                <h3 class ="c2h3_2">ahora</h3>
              </div>
            </div>
          </div>
        </div>
        <div class = "img_1">
          <img src="img/food.png" alt ="imagen_1" width="450px">
        </div>
      </section>
    </div>

    <footer>

    </footer>
</body>
</html>