<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="con-login">
        <h4>Ingreso</h4>
        <p class="p-1">Bienvendido de vuelta, ingresa a tu cuenta</p>
        <form action="" class="usuario">
            <input type="text" placeholder="Usuario o correo electronico" id="ingreso">
        </form>
        <form action="" class="contraseña">
            <input type="password" placeholder="Contraseña" id="ingreso">
        </form>
        <div class="con-login-ayu">
            <label for="recuerdame">
                <input type="checkbox" id="recuerdame">
                Recuerdame
            </label>
            <a href="#">Ayuda</a>
        </div>
        <a  href="#" style="text-decoration: none;">¿Has olvidado tu contraseña?</a>
        <form action="" class="button"> 
            <input type="submit" value="Ingresar" for="ingreso">
        </form>
        <p>No tienes una cuenta <a href="http://localhost:3001/Registro">Registrate</a> </p>
    </div>
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script> 
</body>
</html>