<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro | Rollereats</title>
</head>
<body>
    <div class="con-register">
        <form action="/register" method="POST" class="usuario">
            <div>
                <h4>Registro</h4>
                <p class="p-1">Crea una nueva cuenta</p>
            </div>
            <div>
                <input type="email" placeholder="Correo electronico" id="e-mail"><br>
            </div>
            <div>
                <input type="password" placeholder="Contraseña" id="contraseña"><br>
            </div>
            <div>
                <input type="number" placeholder="Numero Telefonico" id="numero"><br>
            </div>
            <div>
                <input type= "text" placeholder="Pais" id="pais"><br>
            </div>
            <div>
                <button class="button">Registrar</button>
            </div>
        </form>
        <p>¿Ya tienes una cuenta? <a href="http://localhost:3001/Ingresar">Inicia Sección</a></p>
    </div>
</body>
</html>