<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Rollereats || Login</title>
</head>
<%- include('../partials/header.ejs') %>
<body>
    <div class="contenedor-principal">
        <div class="contenedor-login">
            <img src="/img/undraw_cooking_lyxy.png" alt="Imagen de login">
        <form action="/usuarios/login" method="POST" class="formulario">
            <h3>Ingreso</h3>
            <p>Bienvenido de vuelta, ingresa a tu cuenta</p>
            <input  class="form" type="text" placeholder="Usuario  o correo electronico" value="" required name="email">
            <input class="form" type="password" placeholder="Contraseña" value=""  name="password">
            <div class="rec-ayuda" >
                <label for="recuerdame">
                    <input type="checkbox" id="recuerdame">
                    Recuerdame
                </label>
                <a href="#">Ayuda</a>
            </div>
            <a href="#" id="olvido">¿Has olvidado tu contraseña?</a>
            <input type="submit" value="Ingresar">
            <div class="Resgistrate">
                <p>No tienes cuenta</p>
                <a href="/usuarios/register" id="reg"> Registrate</a>
            </div>  
        </form>
        </div>
    <script src="https://kit.fontawesome.com/ea2382ba85.js" crossorigin="anonymous"></script>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    </body>
</html>