<!-- restaurant container  -->
<div class="restaurants-container">
    <div class="restaurants">
        <% for( let i=0; i < business.length; i++){ %> 
            <article class="restaurant">  
                <a href="/restaurantes"> 
                <i class='bx bxs-heart'></i>
                <img src="<%=business[i].businessProfile%>" alt="">
                <div class="data">
                    <div class="initial-data">
                        <h3 class="name"><%=business[i].businessName%></h3>
                        <p class="rating">0.0</p>
                    </div>
                    <div class="footer-data">
                        <div class="delivery-Fee">
                            <p class="Fee">$<%=business[i].businessDeliveryFee%></p> 
                            <p>delivery Fee</p> 
                        </div>
                        <span>20 - 30 min</span>
                    </div>
                </div>
                </a>
            </article>
        <%}%>
    </div>
</div>
<!-- End restaurant container  -->